name: Go unit tests

on: 
  pull_request:
    paths:
      - '**.go'

jobs:
  gotest:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: go.mod
        check-latest: true

    - name: Test
      run: go test -v ./...
