name: Smoke tests

on: 
  pull_request:
    paths:
      - '**.go'
      - go.mod
      - go.sum
      - Makefile
      - .github/workflows/smoke.yml
      - smoke-test/**

jobs:

  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
        check-latest: true

    - name: Build
      run: make k0sctl

    - name: Stash the compiled binary for further testing
      uses: actions/upload-artifact@v5
      with:
        name: k0sctl
        path: k0sctl
        retention-days: 2

  smoke-basic:
    strategy:
      matrix:
        image:
          - quay.io/k0sproject/bootloose-alpine3.22
          - quay.io/k0sproject/bootloose-amazonlinux2023
          - quay.io/k0sproject/bootloose-debian12
          - quay.io/k0sproject/bootloose-fedora42
          - quay.io/k0sproject/bootloose-rockylinux9
          - quay.io/k0sproject/bootloose-ubuntu24.04
    name: Basic 1+1 smoke
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run smoke tests
        env:
          LINUX_IMAGE: ${{ matrix.image }}
        run: make smoke-basic
  
  smoke-basic-rootless:
    strategy:
      matrix:
        image:
          - quay.io/k0sproject/bootloose-debian12
          - quay.io/k0sproject/bootloose-ubuntu24.04
    name: Basic 1+1 smoke (regular user login)
    needs: build
    runs-on: ubuntu-24.04

    steps:

      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run smoke tests
        env:
          LINUX_IMAGE: ${{ matrix.image }}
        run: make smoke-basic-rootless
  
  smoke-basic-idlike:
    name: Basic 1+1 smoke (ID_LIKE fallback)
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache

      - name: Build image
        run: |
          make -C smoke-test kalilinux.iid
          echo "LINUX_IMAGE=$(cat smoke-test/kalilinux.iid)" >> "$GITHUB_ENV"

      - name: Run smoke tests
        run: make smoke-basic
  
  smoke-basic-openssh:
    strategy:
      matrix:
        image:
          - quay.io/k0sproject/bootloose-alpine3.22
    name: Basic 1+1 smoke using openssh client
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run smoke tests
        env:
          LINUX_IMAGE: ${{ matrix.image }}
        run: make smoke-basic-openssh
  
  smoke-multidoc:
    strategy:
      matrix:
        image:
          - quay.io/k0sproject/bootloose-alpine3.22
    name: Basic 1+1 smoke using multidoc yamls
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run smoke tests
        env:
          LINUX_IMAGE: ${{ matrix.image }}
        run: make smoke-multidoc

  smoke-files:
    strategy:
      matrix:
        image:
          - quay.io/k0sproject/bootloose-ubuntu24.04
          - quay.io/k0sproject/bootloose-alpine3.22
    name: Basic file upload smoke
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run smoke tests
        run: make smoke-files

  smoke-dynamic:
    strategy:
      matrix:
        image:
          - quay.io/k0sproject/bootloose-alpine3.22
    name: Basic dynamic config smoke
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run smoke tests
        run: make smoke-dynamic

  smoke-os-override:
    name: OS override smoke test
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run OS override smoke test
        run: make smoke-os-override

  smoke-downloadurl:
    name: k0sDownloadURL smoke test
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run k0sDownloadURL smoke test
        run: make smoke-downloadurl

  smoke-upgrade:
    strategy:
      matrix:
        image:
          - quay.io/k0sproject/bootloose-alpine3.22
          - quay.io/k0sproject/bootloose-amazonlinux2023
          - quay.io/k0sproject/bootloose-rockylinux9
          - quay.io/k0sproject/bootloose-ubuntu24.04
        k0s_from:
          - v1.21.6+k0s.0
    name: Upgrade
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run smoke tests
        env:
          LINUX_IMAGE: ${{ matrix.image }}
          K0S_FROM:  ${{ matrix.k0s_from }}
        run: make smoke-upgrade
  
  smoke-dryrun:
    strategy:
      matrix:
        image:
          - quay.io/k0sproject/bootloose-alpine3.22
          - quay.io/k0sproject/bootloose-ubuntu24.04
        k0s_from:
          - v1.21.6+k0s.0
    name: Dry run
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run smoke tests
        env:
          LINUX_IMAGE: ${{ matrix.image }}
          K0S_FROM:  ${{ matrix.k0s_from }}
        run: make smoke-dryrun

  smoke-reset:
    strategy:
      matrix:
        image:
          - quay.io/k0sproject/bootloose-rockylinux9
          - quay.io/k0sproject/bootloose-ubuntu24.04

    name: Apply + reset
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run smoke tests
        env:
          LINUX_IMAGE: ${{ matrix.image }}
        run: make smoke-reset

  smoke-backup-restore:
    strategy:
      matrix:
        image:
          - quay.io/k0sproject/bootloose-alpine3.22
          - quay.io/k0sproject/bootloose-rockylinux9
          - quay.io/k0sproject/bootloose-ubuntu24.04

    name: Apply + backup + reset + restore
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run smoke tests
        env:
          LINUX_IMAGE: ${{ matrix.image }}
        run: make smoke-backup-restore
  
  smoke-backup-restore-out:
    name: Apply + backup + reset + restore (non-default output)
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run smoke tests
        env:
          OUT: localfile
        run: make smoke-backup-restore
  
  smoke-controller-swap:
    strategy:
      matrix:
        image:
          - quay.io/k0sproject/bootloose-alpine3.22

    name: Controller swap
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run smoke tests
        env:
          LINUX_IMAGE: ${{ matrix.image }}
        run: make smoke-controller-swap
  
  smoke-reinstall:
    strategy:
      matrix:
        image:
          - quay.io/k0sproject/bootloose-alpine3.22
          - quay.io/k0sproject/bootloose-ubuntu24.04

    name: Reinstall (modify install flags)
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run smoke tests
        env:
          LINUX_IMAGE: ${{ matrix.image }}
        run: make smoke-reinstall

  smoke-init:
    name: Init sub-command smoke test
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/smoke-test-cache
      - name: Run init smoke test
        run: make smoke-init

