name: Smoke tests

on: 
  pull_request:
    paths:
      - '**.go'
      - go.mod
      - go.sum
      - Makefile
      - .github/workflows/smoke.yml
      - smoke-test/**

jobs:

  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
        check-latest: true

    - name: Build
      run: make k0sctl

    - name: Stash the compiled binary for further testing
      uses: actions/upload-artifact@v5
      with:
        name: k0sctl
        path: k0sctl
        retention-days: 2

  smoke-basic-rootless:
    strategy:
      matrix:
        image:
          - quay.io/k0sproject/bootloose-debian12
          - quay.io/k0sproject/bootloose-ubuntu24.04
    name: Basic 1+1 smoke (regular user login)
    needs: build
    runs-on: ubuntu-24.04

    steps:

      - uses: actions/checkout@v6
      - uses: ./.github/actions/smoke-test-cache
      - name: Run smoke tests
        env:
          LINUX_IMAGE: ${{ matrix.image }}
        run: make smoke-basic-rootless
  
